<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>Data Gaudium</title>
        <link>http://127.0.0.1/blog/html/</link>
        <description>Data Science and Nuclear Engineering</description>
        <language>en-us</language>
        <pubDate>Thu, 28 Jun 2018 00:00:00 -0400</pubDate>
        
        <item>
            <link>http://127.0.0.1/blog/html/2018/06/28/smokey_mountain_data_challenge.html</link>
            <guid>http://127.0.0.1/blog/html/2018/06/28/smokey_mountain_data_challenge.html</guid>
            <title><![CDATA[Smoky Mountain Data Challenge]]></title>
            <description><![CDATA[<h1>Smoky Mountain Data Challenge</h1>
<p>This group was synthesized to solve a series of challenge problems presented in the <a class="reference external" href="https://smc-datachallenge.ornl.gov/challenges-2018/">Smoky Mountain Data Challenge</a> .</p>
]]></description>
             <pubDate>Thu, 28 Jun 2018 00:00:00 -0400</pubDate>
        </item>
    
    </channel>
</rss>